body {
  padding-top: 50px;
}

.content-area {
  padding: 20px 0px;
  height: 100%;
}

.sidebar-area {
  padding: 0;
}

.expenseTableHeader {
  padding: 7px 0;
  background: lightgoldenrodyellow;
  font-size: 16px;
  /* font-weight: bold; */
  color: #046385;
}

#app-space {
  min-height: calc(100vh - 50px);
}

#addAnother {
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: orange;
  border-radius: 35px;
}

.btn-group .btn{
  border: 1px solid #999;
}

#monthly-section-header{
  border-bottom: 1px solid lightgrey;
}

#monthExpense , #dayExpense{
  margin-top: 15px;
}

#dailyView-date{
  width: 150px;
}

#search-day-expense{
  margin-left: 10px;
}

#dump-sample{
  background-color: #34495e;
  cursor: pointer !important;
}

#clear-old-data{
  background-color: #7A7574;
  cursor: pointer;
}

/*Bootstrap overrides*/
.btn-lg, .btn-group-lg > .btn{
  padding: 10px 15px;
}

.btn-group .btn{
    width: 120px;
    margin: 10px 15px !important;
    border-radius: 5px !important;
}

.alert{
  margin-top: 15px;
  padding: 5px;
  width: 75%;
}

/* make sidebar nav vertical */

@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}