body {
  padding-top: 50px;
}
.content-area {
  padding: 20px 0px;
  height: 100%;
}

.sidebar-area{
	padding: 0;
}

.expenseTableHeader{
    padding: 7px 0;
    background: lightgoldenrodyellow;
    font-size: 16px;
    /* font-weight: bold; */
    color: #046385;
}

#app-space{
	min-height: calc(100vh - 50px);
}

#addAnother{
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  background: orange;
  border-radius: 35px;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}